{% extends "TTVWebsiteBundle::layout.html.twig" %}

{% block title %}
    Modifier figure {{ trick.name }} - {{ parent() }}
{% endblock %}

{% block body %}

    <h3>Modifier la figure {{ trick.name }}</h3>

    {{ include("TTVWebsiteBundle:Website:form.html.twig") }}

    <p>
        <a href="{{ path('ttv_website_view', {'id': trick.id, 'slug': trick.slug })}}" class="btn btn-primary mar-top-md">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la figure
        </a>
    </p>

{% endblock %}