
<div>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
        <div class="col-sm-12">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}

        {% if form.images is defined %}
            {{ form_row(form.images) }}
        {% endif %}

        {% if form.videos is defined %}
             {{ form_row(form.videos) }}
        {% endif %}


        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-primary'}}) }}

        {# Génération automatique des champs pas encore écrits. Ce serait le champ CSRF (géré automatiquement par Symfony !) et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        </div>
    </div>
    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>

{# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
   mais si vous l'avez en local, changez simplement l'adresse. #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!--Script js imageForm -->
<script type="text/javascript" src="{{ asset('/assets/js/imageForm.js') }}"></script>

<!--Script js videoForm -->
<script type="text/javascript" src="{{ asset('/assets/js/videoForm.js') }}"></script>



