<div>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}


    {{ form_errors(form) }}

    <div class="form-group row">
        <div class="col-sm-12">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}

        <div class="mar-bottom-sm">
            {{ form_row(form.images) }}
            <a href="#" id="add_image" class="btn btn-default">Ajouter une autre image</a>
         </div>

         <div class="mar-bottom-sm">
            {{ form_row(form.videos) }}
            <a href="#" id="add_video" class="btn btn-default">Ajouter une autre vidéo</a>
            </div>

        <div class="mar-top-md">

         {{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>

        {{ form_rest(form) }}

        </div>
    </div>

    {{ form_end(form) }}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script type="text/javascript" src="{{ asset('/assets/js/imageform.js') }}"></script>

<script type="text/javascript" src="{{ asset('/assets/js/videoform.js') }}"></script>



