{% extends "TTVWebsiteBundle::layout.html.twig" %}

{% block title %}
    Liste des figures - {{ parent() }}
{% endblock %}

{% block body %}

    <div>
        {% for message in app.session.flashBag.get('info') %}
            <p class="alert alert-info text-center"> {{ message }}</p>
        {% endfor %}
    </div>

    <!-- All blog posts -->
    <div class="mar-top-lg">
        <ul class="isotope-blog row">
            <!-- .blog-post -->
        {% for trick in listTricks %}
            <li class="blog-post  wow fadeInUp " data-wow-duration="1s" data-wow-delay=".7s">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <span class="blog-date"><a href="{{ path('ttv_website_edit', {'id': trick.id}) }}"> <img src="/assets/images/update.png" alt="Modifier"/></a>
                    <small class="blog-month"><a href="{{ path('ttv_website_delete', {'id': trick.id, 'slug': trick.slug }) }}"> <img src="/assets/images/delete.png" alt="Supprimer"/></a></small>
                    </span>
                {% endif %}
                <div class="blog-body">{% if trick.images is not empty %}
                    <img src="{{ asset('uploads/tricks/'~trick.images[0].extension~'') }}" alt="{{ trick.images[0].alt }}" class="img-responsive img-full" />{% endif %}
                    <h4 class="text-primary text-center text-uppercase">{{ trick.name }}</h4>
                    <p class="text-center">
                        <i class="text-primary"> Auteur : {{ trick.user.username }} </i>
                    </p>
                    <p>
                        {{ trick.description | slice(0,100) ~ ' ...' }}
                    </p>
                    <a class="btn btn-primary" href="{{ path('ttv_website_view', {'id': trick.id, 'slug':trick.slug })}}" role="button" title="continue reading"> En Savoir Plus</a>
                </div>
            </li>
        {% endfor %}
            <!-- /.blog-post -->
        </ul>

        <!-- .navigation -->
        <nav class="navigation paging-navigation col-md-12 col-sm-12">
            <ul class="page-numbers pagination">
                {% for p in range (1, nbPages) %}
                <li{% if p == page %} class="current" {% endif %}>
                <a class="page-numbers pagination" href="{{ path('ttv_website_homepage', {'page' : p}) }}">{{ p }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav><!-- /.navigation -->
    </div>
    <!-- /All blog posts -->

{% endblock %}