{% extends "TTVWebsiteBundle::layout.html.twig" %}

{% block title %}
    Liste des tricks - {{ parent() }}
{% endblock %}

{% block body %}

    {#<ul>
        {% for trick in listTricks %}
            <li>{{ trick.name }}</li>
            <li>{{ trick.description }}</li>

        {% endfor %}
    </ul>#}


    <!-- All blog posts -->
    <div class="mar-top-lg">
        <ul class="isotope-blog">
            <!-- .blog-post -->

            <li class="blog-post wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                        <span class="blog-date"><a href="{{ path('ttv_website_edit', {'id': 3}) }}"> <img src="/assets/images/update.png" alt="Modifier"/></a>
                          <small class="blog-month"><a href="{{ path('ttv_website_delete', {'id': 3}) }}"> <img src="/assets/images/delete.png" alt="Supprimer"/></a></small>
                        </span>
                <div class="blog-body">
                    <img src="/assets/images/post-1.jpg" alt="post 1" class="img-responsive img-full" />
                    <h4 class="text-primary text-center text-uppercase">Nom la figure</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do [...]
                    </p>
                    <a class="btn btn-primary" href="blog-post.html" role="button" title="continue reading"> En Savoir Plus</a>
                </div>
            </li>
            <!-- /.blog-post -->
        </ul>
        <!-- .navigation -->
        <nav class="navigation paging-navigation">
            <ul class="page-numbers pagination">
                <li><span class="page-numbers pagination current">1</span></li>
                <li><a class="page-numbers pagination" href="#">2</a></li>
                <li><a class="page-numbers pagination" href="#">3</a></li>
                <li><a class="next page-numbers pagination" href="#">Next →</a></li>
            </ul>
        </nav><!-- /.navigation -->
    </div>
    <!-- /All blog posts -->

{% endblock %}