{% extends "TTVWebsiteBundle::layout.html.twig" %}

{% block title %}
    Afficher figure {{ trick.name }} - {{ parent() }}
{% endblock %}

{% block body %}

    <div>
        {% for message in app.session.flashBag.get('info') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>


    <!-- All blog posts -->
    <div class="mar-top-lg row">
        <h1 class="text-primary wow fadeInDown text-uppercase text-center"  data-wow-duration="1s" data-wow-delay=".3s">Groupe {{ trick.category.name }} : Figure {{ trick.name }} </h1>
        <div class="text-center myseparator">
            <i class="iline2-round27 text-primary">Ajoutée le {{ trick.date|date('d-m-Y') }}</i>
            {% if trick.updatedAt is not null %}
            <i class="iline2-round27 text-success">Modifiée le {{ trick.updatedAt|date('d-m-Y') }}</i>
            {% endif %}
            <i class="iline2-rectangular22 text-primary">{{ trick.nbcomments }} Commentaires</i>

            <h4 class="media-heading text-primary text-center avatar"> <span class="small text-muted"><i> Ajoutée par </i></span>{% if trick.user.avatar is not null %} <img  alt="avatar" src="{{ asset('uploads/avatars/'~trick.user.avatar~'') }}" > {% endif %}{{ trick.user.username }} </h4>
        </div>


        <!-- Left part -->
        <div class="col-md-12 blog-main">
            <div class="post-detail sep-bottom-lg">
                {% if trick.images is not empty %}
                    {% for image in trick.images %}
                    <figure class="no-margin">
                        <img src="{{ asset('uploads/tricks/'~image.extension~'') }}" alt="{{ image.alt }}"class="img-responsive" />
                    </figure>
                    {% endfor %}
                 {% endif %}
                {% if trick.videos is not empty %}
                    {% for video in trick.videos %}
                    <div class="row col-md-12">
                        <div class="embed-responsive embed-responsive-16by9  myseparator">
                            <iframe src="{{ video.url }}" allowfullscreen frameborder="0"></iframe>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="post-detail-body sep-xs">
                    <h3 class="text-uppercase">{{ trick.name }}</h3>
                    <span class="line-sep-gray"></span>
                    <p>
                        {{ trick.description }}
                    </p>
                   <p>

                   </p>

                </div>
            </div>
            <div class="nav-links mar-top-md">
                {% if previousTrick is not null %}
                <a href="{{ path('ttv_website_view', {'id': previousTrick.id }) }}" class="text-uppercase pull-left" ><i class="iline1-arrowhead2"></i> Figure Précédente</a>
                    {% endif %}
                    {% if nextTrick is not null %}
                        <a href="{{ path('ttv_website_view', {'id': nextTrick.id })}}" class="text-uppercase pull-right" >Figure Suivante <i class="iline1-chevron15"></i></a>
                    {% endif %}
            </div> <!-- /nav-links -->
            <div class="text-center">
                <a href="{{ path('ttv_website_homepage') }}" class="btn btn-primary btn-md">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Retour à la liste des figures
                </a>
                {% if is_granted('ROLE_USER') %}
                <a href="{{ path('ttv_website_edit', {'id': trick.id }) }}" class="btn btn-primary btn-md">
                    <i class="glyphicon glyphicon-edit"></i>
                    Modifier la figure
                </a>
                <a href="{{ path('ttv_website_delete', {'id': trick.id }) }}" class="btn btn-danger btn-md">
                    <i class="glyphicon glyphicon-trash"></i>
                    Supprimer la figure
                </a>
                {% endif %}
            </div> <!-- /.text-center -->

            <!-- COmmentaires -->
            <div class="post-detail mar-top-xs">
                <div class="post-detail-body sep-xs">
                    <h3>Commentaires</h3>
                    {% if listComments is not empty %}
                    <ul class="media-list">
                    {% for comment in listComments %}
                        <!-- Nested media object -->
                        <li class="media">
                            <div class="media-left">
                            {% if comment.user.avatar is not null %}
                                <img class="media-object" alt="64x64" src="{{ asset('uploads/avatars/'~comment.user.avatar~'') }}" data-holder-rendered="true" />
                            {% endif %}
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading text-primary">{{ comment.user.username }} <span class="pull-right small text-muted"><i> Le {{ comment.date|date ('d-m-Y')}}</i></span></h4>
                                <p>
                                    {{ comment.content }}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                        {% else %}
                        <p>Aucun commentaire pour le moment.<br/>Soyez la première personne à écrire un commentaire sur cette figure.<br/>Pour le faire, identifiez-vous !</p>
                    {% endif %}

                    <!-- .navigation -->
                    {% if listComments|length > 0 %}
                    <nav class="navigation paging-navigation col-md-12">
                        <ul class="page-numbers pagination">
                            {% for p in range (1, nbPages) %}
                                <li{% if p == page %} class="current" {% endif %}>
                                    <a class="page-numbers pagination" href="{{ path('ttv_website_view', {'id':trick.id, 'page' : p}) }}">{{ p }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    {% endif %}
                    <!-- /.navigation -->
                    {% if is_granted('ROLE_USER') %}
                    <h4 class="mar-top-md">Rédiger un commentaire</h4>
                    <span class="line-sep-gray"></span>

                    <div class="form-horizontal mar-top-sm wow fadeIn"  data-wow-duration="1s" data-wow-delay=".3s" >
                        <div class="row">
                            <div class="col-md-12 col-sm-12 nolabel">
                                {{ form(form) }}
                            </div>
                        <!-- /.row -->
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
        <!-- /Left part -->
    </div>
    <!-- / All blog posts -->
{% endblock %}